<template name="matchcard">
  <div class="page match">
    {{#nav title='计分卡' subtext=getRule black=true home=true}}
     
        <a class="menu-btn" href="#" id="btn-ok">结束&提交</a>
      {{/nav}}
  	 <div  class="matchpage content-scrollable full-screen">
      <div class="title" style="height:60px">
        <table  class="table" style="height:100%;margin:0;text-align:center;height:100%;">
           <tr style="background-color: #f8b27c;">
            <td>{{getRule}}</td>
            <td id="r_0">0</td>
            <td id="r_1">0</td>
            <td id="r_2">0</td>
            <td id="r_3">0</td>

          </tr>
 
             <tr >
                <th style="width:16%;padding:0;height:30px;">洞<span style="color:#ccc">[杆]</span></th>
                {{#each getPlayers}}
                <th style="width:21%;padding:0">{{this}}</th>
                {{/each}}
              </tr>

         
         
        </table>
      </div>

      <div class="card content-scrollable" style="top:60px;">
         <table  class="table " id="recordTable">



         
        </table>

       
        
      </div>
      
	   </div>
  </div>
  {{getMatchResult}}

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm" style="margin-top:100px">
      
      <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span id="msg"></span></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="confirmBtn">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          
        </div>
      </div>
    </div>
  </div>

</template>