<template name="matchperson2">
  <div class="page match">
     {{#nav title='计分卡' black=true home=true}}
     
        <a class="menu-btn" href="#" id="btn-ok" fn="0">提交&退出</a>
      {{/nav}}
  	 <div  class="matchpage content-scrollable full-screen">
      <div class="title">
        <table  class="table" style="height:100%;margin:0;text-align:center">
          <thead style="height:100%">
             <tr >
                <th style="width:12%;padding:0;height:30px;">球洞</th>
                <th style="width:22%;padding:0">标准杆</th>
                <th style="width:22%;padding:0">杆数</th>
                <th style="width:22%;padding:0">推杆数</th>
                <th style="width:22%;padding:0">开球上道</th>
              </tr>
          </thead>
         
        </table>
      </div>

      <div class="card content-scrollable">
         <table  class="table ">

            {{#each getHoles}}
            <tr ind="{{this.ind}}" class="recordItem">
              <td style="width:12%;padding:0;">{{this.ind}}</td>
              <td style="width:22%;padding:0">{{this.par}}</td>
              <td style="width:22%;padding:0"><input type="tel" name="n1" maxlength="2"/></td>
              <td style="width:22%;padding:0"><input type="tel" name="n2" maxlength="2"/></td>
              <td style="width:22%;padding:0">
                <div class="checkbox">
           
                    <input type="checkbox" id="checkbox_{{this.ind}}" name="n3" />
             
                    <label for="checkbox_{{this.ind}}"></label>
                </div>
              </td>
            </tr>
            {{/each}}

<!--             <tr  style="background-color: #f8b27c;height:40px"> 
            <td style="width:12%;padding:0;" >总杆</td> 
            <td style="width:22%;padding:0" >0</td> 
            <td style="width:22%;padding:0" ></td> 
            <td style="width:22%;padding:0" ></td> 
            <td style="width:22%;padding:0" ></td> 
            </tr> -->

         
        </table>

       
        
      </div>
      
	   </div>
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-sm" style="margin-top:100px">
    
    <div class="modal-content">
       <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span id="msg"></span></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="confirmBtn">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        
      </div>
    </div>
  </div>
</div>


</template>