<template name="mystatus">
  <div class="page match">
  	{{>nav title='技术统计' black=true back=false}}
  	 <div  class="content-scrollable">
      <div class="well well-sm" style="margin-bottom:0;">
        

      </div> <!-- well -->
      
      <div data-role="footer" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
          <div data-role="navbar" class="ui-navbar" role="navigation">
            <ul class="ui-grid-b">
               <li class="ui-block-b"><a href="#" data-icon="star" class="ui-link ui-btn ui-icon-star ui-btn-icon-top">最近10场</a></li>
              <li class="ui-block-b"><a href="#" data-icon="star" class="ui-link ui-btn ui-icon-star ui-btn-icon-top ui-btn-active">最近20场</a></li>
             <li class="ui-block-b"><a href="#" data-icon="star" class="ui-link ui-btn ui-icon-star ui-btn-icon-top">最近30场</a></li>
            </ul>
          </div><!-- /navbar -->
      </div>

	   </div>
  </div>
</template>