<template name="timeline">
  <div class="page match">
  	{{>nav title='球场选择' black=true back=true}}
  	 <div  class="content-scrollable">
      <div class="well well-sm">
        <div class="smart-timeline">
          <ul class="smart-timeline-list">
            <li>
              <div class="smart-timeline-icon smart-timeline-icon-my">
                <span class="glyphicon glyphicon-user" ></span>
              </div>
            
              <div class="smart-timeline-content">

                <p>
                  <a href="javascript:void(0);"><strong>Trip to Adalaskar</strong></a>
                </p>
                <p>
                  Check out my tour to Adalaskar
                </p>
                <p>
                  <a href="javascript:void(0);" class="btn btn-xs btn-primary"><i class="fa fa-file"></i> Read the post</a>
                </p>
                <img src="img/superbox/superbox-thumb-4.jpg" alt="img" width="150">

                    
                  
              </div>
            </li>
            <li>
              <div class="smart-timeline-icon">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
              </div>
            
              <div class="smart-timeline-content">
                <p> <small>1小时前</small></p>
                <p>
                  <a href="#"><strong>北京人济高尔夫球场</strong></a>
                </p>
                <p>
                  <strong>Meeting invite for "GENERAL GNU" [<a href="javascript:void(0);"><i>Go to my calendar</i></a>]</strong>
                </p>
                
                <div class="well well-sm display-inline">
                  <p>Will you be able to attend the meeting - <strong> 10:00 am</strong> tomorrow?</p>
                  <button class="btn btn-xs btn-default">Confirm Attendance</button>
                </div>    
                      
              </div>
            </li>
            
            
           
            <li class="text-center">
              <a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
            </li>
          </ul>
        </div>
  	    
      </div> <!-- well -->
	   </div>
  </div>
</template>