<template name="timeline">
  <div class="page match">
    {{#if canBack}}
    {{>nav title='比赛记录' black=true back=true}}
    {{else}}
  	{{>nav title='比赛记录' black=true back=false}}
    {{/if}}
  	 <div  class="content-scrollable">
      <div class="well well-sm" style="margin-bottom:0;">
        <div class="smart-timeline">
          <ul class="smart-timeline-list">
            <li>
              <div class="smart-timeline-icon bg-color-orange">
                <span class="glyphicon glyphicon-user" ></span>
              </div>
            
              <div class="smart-timeline-content">

                
                <p >
                  在<strong class="bigFont">2</strong>城市的<strong class="bigFont">3</strong>个球场中进行过<strong class="bigFont">100</strong>次比赛。打出过<strong class="bigFont">2</strong>次小鸟球，<strong class="bigFont">2</strong>次老鹰球和<strong class="bigFont">2</strong>次信天翁。
                </p>
            
                
              
                    
                  
              </div>
            </li>

            {{#if isShowLine}}

              <li>
                <div class="smart-timeline-icon bg-color-greenDark">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </div>



              
                <div class="smart-timeline-content">
                  <p>
                    <a href="#"><strong>最近5场比赛指标</strong></a>
                  </p>

                  <p>
                    <table width="100%">
                      <tr>
                        <td style="width:50%;padding:2px;text-align:center">
                          <div id="flot1_total" class="well" style="width:100%;height:80px;margin-bottom:10px"></div>
                          <p>总杆</p>
                          {{drawLine "total"}}
                        </td>
                        <td style="width:50%;padding:2px;text-align:center">
                          <div id="flot1_push" class="well" style="width:100%;height:80px;margin-bottom:10px"></div>
                          <p>推杆</p>
                          {{drawLine "push"}}
                        </td>
                      </tr>

                      <tr>
                        <td style="width:50%;padding:2px;text-align:center">
                          <div id="flot1_onRate" class="well" style="width:100%;height:80px;margin-bottom:10px"></div>
                          <p>上道率</p>
                          {{drawLine "onRate"}}
                        </td>
                        <td style="width:50%;padding:2px;text-align:center">
                          <div id="flot1_sOnRate" class="well" style="width:100%;height:80px;margin-bottom:10px"></div>
                          <p>标on</p>
                          {{drawLine "sOnRate"}}
                        </td>
                      </tr>
                    </table>

                    <p class="text-right" style="margin-right:10px"><a href="\mystatus">更多>></a></p>
                    
                    
                  </p>
                 <!--  <p>
                    <div id="flot1" class="well" style="width:200px;height:100px"></div>
                     <span>推杆</span>
                  </p> -->
                  
                   
                        
                </div>
              </li>

              {{/if}}

            {{#each getMatch}}
              <li>
                <div class="smart-timeline-icon">
                  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </div>
              
               
                <div class="smart-timeline-content">
                  <p> <small>{{getTime createdAt}}</small></p>
                  <p>
                    <a href="#"><strong>{{courtName}}</strong></a>
                  </p>


                   <a href="/matchview/{{this._id}}">
                   <div class="well well-sm display-inline">
            
                    <table class="recordTable" >
                      <tr >
                        <td>
                        <button type="button" class="btn btn-danger m-r-sm">{{summary.total}}</button>总杆
                        </td>                      
                        <td>
                        <button type="button" class="btn btn-warning m-r-sm">{{summary.push}}</button>推杆
                        </td>
                      </tr>
                      <tr >
                        <td>
                        <button type="button" class="btn btn-success m-r-sm">{{summary.onRate}}</button>上道率
                        </td>                      
                        <td>
                        <button type="button" class="btn btn-info m-r-sm">{{summary.sOnRate}}</button>标on
                        </td>
                      </tr>
                      {{#if  valid}}
                      {{else}}
                      <tr>
                        <td colspan="4">
                          <p class="small warnForData">以上数据非您本人输入。您可以：<br><button class="btn btn-success" style="padding:0;font-size: 95%;" mid="{{_id}}" id="verifyBtn">确认数据</button> 或 <a href="#" id="delBtn" mid="{{_id}}">删除</a></p>
                        </td>
                      </tr>
                      {{/if}}
                    </table>
               
                
                 
                  </div>    
                  </a>
          
    
                        
                </div>
              </li>
            {{/each}}        
           
            <li class="text-center">
              <a href="javascript:void(0)" class="btn btn-sm btn-default" id="loadMore">更多...</a>
            </li>
          </ul>
        </div>

      </div> <!-- well -->
	   </div>
  </div>
</template>