body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-accounts {
  padding: 60px;
  margin: 0 auto;
}
.form-accounts .form-accounts-heading,
.form-accounts .checkbox {
  margin-bottom: 10px;
}
.form-accounts .checkbox {
  font-weight: normal;
}
.form-accounts .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-accounts .form-control:focus {
  z-index: 2;
}
.form-accounts input[type="tel"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 0;
}
.form-accounts input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 0;
}
.form-accounts input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
