nav.black{
/*	background-color: #33cc66 !important;
	border-bottom:1px solid #000;*/
	font-weight:bold;
	border-bottom:1px solid #000;
	/*border-bottom: 1px solid #72b42d;*/
	background: #285c00 url("/img/titleBg.png") 60% 60% repeat-x !important;

	color: #ffffff;
}

.full-screen{

	width:100% !important;
	overflow-x: hidden !important;
	/*overflow-y: hidden !important;*/
	background-color: #fff
}

.full-screen-notitle{
	top: 0px !important;
}

.menu_block{
	position: absolute;
	background-color: #000;
	filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; 
	
	text-align: center;
	top: 10px;

}
.menu_title{
	position: absolute;
	color:#fff;
	top:40%;

	width:100%;
	font-size: 36px;
	text-align: center;
}



.matchpage .section{
	position: absolute;
	width:100%;
/*	height:100%;*/
	display: none;
}

.matchpage .activeSection{

	display: block;
}

.matchpage .card{
	position: absolute;
	width:100%;
	top:30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.matchpage .card input{
	width:50px;
	height:40px;
}

.matchpage .card input{
	width:50px;
	height:40px;
}
.matchpage .card input[type="checkbox"] {
	width:50px;
}

.matchpage .card input:focus {
  border-color: #66afe9;
  background-color: #d8ebfb;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.matchpage .title{
	position: absolute;
	background-color: #fff;
	height:30px;
	width:100%;
	font-size: 17px;
	z-index: 5;
}

.matchpage  table{
	width:100%;
	border: 1px solid #ccc;
	text-align: center;

}

.matchpage  table td{

	text-align:center;
	font-size: 17px;
	font-weight:bold;
	table-layout:fixed;
	word-wrap:break-word;
}

.matchpage  table td sup{
	top:-0.5em !important;
}
.matchpage  table td sub{
	bottom:-0.5em !important;
	left:-0.8em !important;
}

.matchpage  table th{
	background-color: #313131;
	color:#FFF;
	text-align:center;
	font-size: 17px;
	font-weight:bold;
	table-layout:fixed;
	word-wrap:break-word;
	
}

.matchpage  .personTable {
	width:100%;
	border: 1px solid #ccc;
	text-align: center;
}

.matchpage  table > tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.matchpage table > tbody > tr > td{
  padding: 8px;
   vertical-align: middle; 
  border-top: 1px solid #ddd;
}

.checkbox {
	width: 30px;
	height: 30px;
	margin-top:0;
	margin-bottom:0;
	margin-left:10px;

	border-radius: 100%;
	position: absolute;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkbox input {

	position: absolute;
	left: -9999px;
}

.checkbox label {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 100px;
 
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
 
	background: #eee;
 
	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox input[type=checkbox]:checked + label {
	background: #26ca28;
}


.menu-btn {

    display: inline-block; 
	padding: 6px 12px; 
	margin-top: 9px;
	margin-right:8px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #333;
	border-radius: 4px;
	color: #fff;
  background-color: #5cb85c;

}
.menu-btn.disabled,
.menu-btn[disabled]{
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.win{
	background-color: #99cc99;
}
.bonus{
	background-color: #fc82c0;
}
.sumline{
	background-color: #f8b27c;
}


.smart-timeline {
	position: relative;
}

.smart-timeline-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.smart-timeline-list:after {
	content: " ";
	background-color: #eee;
	position: absolute;
	display: block;
	width: 2px;
	top: 0;
	left: 15px;
	bottom: 0;
	z-index: 1;
}

.smart-timeline-list li {
	position: relative;
	margin: 0;
	padding: 15px 0;
}

.smart-timeline-icon {
	background: #3276b1;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	left: 0px;
	top: 10px;
	z-index: 100;
	padding: 2px;
}

.bg-color-orange{
	background: #f8b27c;
}

.bg-color-greenDark {
	background-color: #496949!important;
}
.smart-timeline-time {
	float: left;
	width: 50px;
	text-align: right;
	font-size: 14px;
	font-weight: normal;;
}

.smart-timeline-content {
	margin-left: 40px;
}

.smart-timeline-content small {
	font-style: italic;
}

.m-r-sm {
	margin-right: 10px;
	min-width: 54px;
}

.recordTable{
	width:100%;
}

.recordTable td{
	padding-bottom: 10px;
}
.bigFont {
	color: #d83e14;
	font-size: 150%;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.bigFont2 {

	font-size: 120%;
	font-weight: bold;
	margin: 5px;
}


.smallFont{
	color:#666;

}

.warnForData{
	color:#666;
}

.smallBtn{
	  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.ui-btn-active{
background-color: #5cb85c;
border-color: #4cae4c;
color: #fff;
}

.ui-navbar a{
	color: #333;
}

.spinner-container{
	position: absolute;

	z-index: 1;

}

.userInfo .info{
	border: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #fff;
}
.userInfo  .left{
	width:94px;
	text-align: right;
}
.userInfo .blank{
	border: 0;
	height:15px;
}
.userInfo  .left p{
	margin:10px 15px;
	font-size: 16px;
	color:#666;
}

.userInfo  .right{
	text-align: left;
	border-bottom: 1px solid #f5f5f5;
}


.info-table {
	width: :100%;
}

.info-table tr:last-child .right{
	border: 0;
}


/*.userInfo tr{
	border: 1px solid #ccc;
}
.userInfo td{
	border: 1px solid #ccc;
}*/
.profile-img{
	border: 1px solid #ccc;
	width:64px;
	height:64px;
	margin:10px 15px;
	border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

.profile-img-small{
	width:52px;
	height:52px;

}

/*.friendList{
	position: relative;
}
.friendList .list{
	list-style: none;
	margin: 0;
	padding: 0;
}*/


.friendList tr{
	border: 0;
	border-bottom: 1px solid #ccc;
	background-color: #fff;

}


.friendList .icon{
	padding:10px 20px;
	width:92px;

}
.friendList .right{
	padding-right:15px;
	padding-left:15px;
	width:30px;
	border-left: 1px solid #ccc;

}
.friendList .tel{
	padding: 0;
	border-left: 1px solid #ccc;
}
.friendList .tel a{
	width:30px;
}

.modal-dialog{
	z-index: 1045;
}

.equipItem{
	display:none;
}

.rankList tr{
	border: 0;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	text-align: center

}
.rankList .order{
	width:30px;
	text-align: center;
	font-weight: bold;
}

.rankList .icon{
	padding:10px;
	width:92px;
}
.rankList .name{
	text-align: left;
}

.rankList .right{	
	width:80px;
	color:#d83e14;
	font-weight: bold;
}



